In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, LogisticRegression

# Bitcoin and Stock Market Correlation

## How to compare the cost movement between s&p 500 and bitcoin?

Comparing the cost movement between the S&P 500 and Bitcoin involves analyzing their price changes over time to see how they relate to each other. Here's how you can approach this comparison:

### 1. **Collect Data**
   - **S&P 500**: Obtain historical price data for the S&P 500 index, typically in the form of daily closing prices.
   - **Bitcoin**: Obtain historical price data for Bitcoin, also in daily closing prices.

### 2. **Align Time Periods**
   - Ensure that the data for both assets covers the same time period and is on the same frequency (e.g., daily prices). Align the dates so that each row in your data corresponds to the same day for both the S&P 500 and Bitcoin.

### 3. **Normalize Prices**
   - Since the S&P 500 and Bitcoin have vastly different price levels, it's helpful to normalize their prices. You can do this by converting prices to returns or by indexing both to 100 at the start of your chosen time period.
   - **Returns Calculation**: Calculate the daily return for each asset as:
     \[
     \text{Return}_t = \frac{\text{Price}_t - \text{Price}_{t-1}}{\text{Price}_{t-1}}
     \]
   - **Indexing**: Set the initial price of both assets to 100 and then calculate the subsequent prices based on their daily returns.

### 4. **Visualize the Data**
   - **Line Chart**: Plot the normalized prices or returns over time on the same chart to visually compare their movements.
   - **Scatter Plot**: Plot the returns of Bitcoin against the returns of the S&P 500 to see if there's any correlation.

### 5. **Statistical Analysis**
   - **Correlation**: Calculate the Pearson correlation coefficient between the daily returns of the S&P 500 and Bitcoin. This will give you a measure of the linear relationship between the two assets. A correlation close to 1 means they move together, while a correlation close to -1 means they move in opposite directions.
   - **Volatility Comparison**: Analyze and compare the volatility (standard deviation of returns) of both assets to understand their risk levels.
   - **Beta**: Calculate Bitcoin's beta with respect to the S&P 500 to see how sensitive Bitcoin is to movements in the S&P 500.

### 6. **Interpret the Results**
   - **Correlation Interpretation**: If the correlation is high, it indicates that Bitcoin and the S&P 500 have been moving similarly. A low or negative correlation suggests they move independently or inversely.
   - **Risk Comparison**: Higher volatility in Bitcoin might indicate higher risk compared to the S&P 500.
   - **Trends and Patterns**: Look for periods where the relationship between the two assets changes, such as during market crashes or bull runs.

### 7. **Advanced Techniques (Optional)**
   - **Rolling Correlation**: Calculate the correlation over a rolling window (e.g., 30 days) to see how the relationship between Bitcoin and the S&P 500 evolves over time.
   - **Cointegration Analysis**: If you're interested in the long-term relationship, you could perform a cointegration test to see if there's a stable, long-term equilibrium between the two.

By following these steps, you'll be able to compare the cost movement between the S&P 500 and Bitcoin, providing insights into how these two different assets interact with each other in the financial markets.

### 8. Links

https://coinbureau.com/analysis/bitcoin-and-stock-market-correlation/

https://www.google.com/search?q=s%26p+500+bitcoin+correlation&oq=s%26p+500+bitcoin+&gs_lcrp=EgZjaHJvbWUqBwgBEAAYgAQyCggAEEUYFhgeGDkyBwgBEAAYgAQyBwgCEAAYgAQyCAgDEAAYFhgeMggIBBAAGBYYHjIICAUQABgWGB4yCAgGEAAYFhgeMggIBxAAGBYYHjIICAgQABgWGB4yCAgJEAAYFhge0gEJMjA3MzVqMGoxqAIAsAIA&sourceid=chrome&ie=UTF-8

## 1. Introduction

**Original**

Traders analyze the movements of various financial instruments in tandem with one another to gauge market sentiment and predict future trends. They believe certain assets are correlated, and assessing the degree to which two are correlated is a valuable insight into the market.

Bitcoin and stocks share a common trait: they are both speculative assets. Such assets are often traded on price speculation rather than intrinsic value. Given this shared characteristic, some believe that the movement of one speculative asset, such as stocks, can reflect the market's risk appetite, potentially allowing us to predict the future behavior of another speculative asset, like Bitcoin. Investors willing to take on more risk may move funds into speculative assets.

This article aims to assess the validity of this notion: are stocks and Bitcoin correlated? This Bitcoin and stock market correlation piece will comprehensively explain how these two significant financial instruments interact by examining the historical correlation between Bitcoin and the stock market and analyzing how critical macroeconomic factors like inflation and interest rates influence this relationship. This analysis seeks to uncover whether the movements in the stock market can indeed serve as a predictor for Bitcoin's price behavior.

**Rewritten**

Traders analyze the movements of financial instruments to gauge market sentiment and predict trends, operating under the belief that certain assets are correlated. Understanding the correlation between two assets provides valuable insights.

Both Bitcoin and stocks are speculative assets, often traded based on price speculation rather than intrinsic value. This similarity implies that stock movements may reflect the market's risk appetite, potentially allowing predictions about Bitcoin's behavior. Investors willing to take on more risk may invest in these speculative assets.

This article evaluates the correlation between stocks and Bitcoin, examining their historical interactions and the impact of macroeconomic factors such as inflation and interest rates. The goal is to determine whether stock market movements can predict Bitcoin's price behavior.

## 2. Data Collection - TODO -Fix This [1]

[1] Data were collected from the following sources:

- Bitcoin Prices: Bitcoin's daily closing prices were obtained from CoinGecko, a reliable and comprehensive cryptocurrency market data provider.
- NASDAQ Index: Daily index values were obtained from Yahoo.com.
- NASDAQ 100 Technology Index (NDXT): Daily index values were obtained from Yahoo.com.
Federal Fund Rates: Monthly interest rate data were obtained from the U.S. Treasury website.

The study period spans five years, from May 2019 to May 2024, providing a robust dataset for analysis.

## Data Processing

Since Bitcoin closing prices are available daily, but NASDAQ and NDXT indices don't trade on weekends and holidays, the NASDAQ and NDXT values were aligned with Bitcoin prices by forward-filling the missing dates with the last available trading day value preceding the date.

## 2. Read Data

### 2.1. Read BTC price movement data for the last 5 years

In [2]:
btc_price_data = pd.read_csv("data/btc_usd/BTC-USD-5-Years.csv")
btc_price_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-24,10407.644531,10418.020508,9982.296875,10159.960938,10159.960938,15451030650
1,2019-08-25,10160.737305,10304.622070,10008.789063,10138.517578,10138.517578,14153856610
2,2019-08-26,10126.299805,10512.328125,10126.299805,10370.820313,10370.820313,18438654080
3,2019-08-27,10372.826172,10381.328125,10087.300781,10185.500000,10185.500000,14762609503
4,2019-08-28,10203.426758,10279.366211,9716.656250,9754.422852,9754.422852,17603790323
...,...,...,...,...,...,...,...
1823,2024-08-20,59493.453125,61396.328125,58610.882813,59012.792969,59012.792969,31613400008
1824,2024-08-21,59014.988281,61834.351563,58823.445313,61175.191406,61175.191406,32731154072
1825,2024-08-22,61168.316406,61408.109375,59815.253906,60381.914063,60381.914063,27625734377
1826,2024-08-23,60380.953125,64947.062500,60372.050781,64094.355469,64094.355469,42530509233
1827,2024-08-24,64089.472656,64450.527344,63683.023438,64179.613281,64179.613281,24973438976

In [3]:
btc_price_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1828.0,3.145753e+04,1.849238e+04,5.002578e+03,1.641817e+04,2.857236e+04,4.422777e+04,7.307938e+04
High,1828.0,3.215444e+04,1.892706e+04,5.331834e+03,1.663008e+04,2.916036e+04,4.551352e+04,7.375007e+04
Low,1828.0,3.071563e+04,1.800764e+04,4.106981e+03,1.611818e+04,2.817612e+04,4.332253e+04,7.133409e+04
Close,1828.0,3.148477e+04,1.849921e+04,4.970788e+03,1.644339e+04,2.865406e+04,4.432337e+04,7.308350e+04
Adj Close,1828.0,3.148477e+04,1.849921e+04,4.970788e+03,1.644339e+04,2.865406e+04,4.432337e+04,7.308350e+04
Volume,1828.0,3.114944e+10,1.792309e+10,5.331173e+09,1.930902e+10,2.783283e+10,3.831647e+10,3.509679e+11

In [4]:
btc_price_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
btc_price_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
# Change datatype to Date !!!!!
# btc_price_data.Date = credit_risk_data.Date.astype("date") --> this ia not working

### 2.2. Read NASDAQ price movement data for the last 5 years

In [7]:
nasdaq_price_data = pd.read_csv("data/NASDAQ_Composite_USD/NASDAQ-Composite-5-Years.csv")
nasdaq_price_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-26,7829.580078,7856.040039,7789.049805,7853.740234,7853.740234,1691990000
1,2019-08-27,7908.779785,7916.830078,7795.180176,7826.950195,7826.950195,1914930000
2,2019-08-28,7798.350098,7866.870117,7766.669922,7856.879883,7856.879883,1663450000
3,2019-08-29,7945.779785,7992.290039,7925.830078,7973.390137,7973.390137,1703760000
4,2019-08-30,8015.160156,8017.910156,7914.740234,7962.879883,7962.879883,1668110000
...,...,...,...,...,...,...,...
1253,2024-08-19,17649.740234,17877.439453,17585.580078,17876.769531,17876.769531,5564300000
1254,2024-08-20,17849.089844,17932.529297,17758.199219,17816.939453,17816.939453,5305260000
1255,2024-08-21,17840.509766,17963.070313,17790.980469,17918.990234,17918.990234,4765150000
1256,2024-08-22,17993.720703,18017.689453,17589.150391,17619.349609,17619.349609,5065360000
1257,2024-08-23,17772.730469,17941.269531,17700.269531,17877.789063,17877.789063,5380810000

In [8]:
nasdaq_price_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1258.0,1.267505e+04,2.537965e+03,6.847280e+03,1.101022e+04,1.294112e+04,1.448341e+04,1.865925e+04
High,1258.0,1.277011e+04,2.541268e+03,6.984940e+03,1.112904e+04,1.306111e+04,1.453417e+04,1.867107e+04
Low,1258.0,1.257255e+04,2.529613e+03,6.631420e+03,1.091560e+04,1.282802e+04,1.433666e+04,1.846758e+04
Close,1258.0,1.267750e+04,2.535323e+03,6.860670e+03,1.102557e+04,1.296338e+04,1.448113e+04,1.864745e+04
Adj Close,1258.0,1.267750e+04,2.535323e+03,6.860670e+03,1.102557e+04,1.296338e+04,1.448113e+04,1.864745e+04
Volume,1258.0,4.667881e+09,1.295766e+09,1.014530e+09,4.117788e+09,4.669190e+09,5.283785e+09,1.193260e+10

In [9]:
nasdaq_price_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [10]:
nasdaq_price_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [11]:
# Change datatype to Date !!!!!
# nasdaq_price_data.Date = nasdaq_price_data.Date.astype("date") --> this ia not working

#### 2.3. Read S&P 500 price movement data for the last 5 years

In [12]:
sp_500_price_data = pd.read_csv("data/S_and_P_500-5-Years.csv")
sp_500_price_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-26,2866.699951,2879.270020,2856.000000,2878.379883,2878.379883,2859790000
1,2019-08-27,2893.139893,2898.790039,2860.590088,2869.159912,2869.159912,3537490000
2,2019-08-28,2861.280029,2890.030029,2853.050049,2887.939941,2887.939941,3102480000
3,2019-08-29,2910.370117,2930.500000,2905.669922,2924.580078,2924.580078,3177150000
4,2019-08-30,2937.090088,2940.429932,2913.320068,2926.459961,2926.459961,3009910000
...,...,...,...,...,...,...,...
1253,2024-08-19,5557.229980,5608.299805,5550.740234,5608.250000,5608.250000,3222050000
1254,2024-08-20,5602.879883,5620.509766,5585.500000,5597.120117,5597.120117,2994420000
1255,2024-08-21,5603.089844,5632.680176,5591.569824,5620.850098,5620.850098,3119670000
1256,2024-08-22,5637.770020,5643.220215,5560.950195,5570.640137,5570.640137,2981530000
1257,2024-08-23,5602.490234,5641.819824,5585.160156,5634.609863,5634.609863,3291940000

In [13]:
sp_500_price_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1258.0,4.062243e+03,6.916520e+02,2.290710e+03,3.591753e+03,4.126600e+03,4.488822e+03,5.644090e+03
High,1258.0,4.086389e+03,6.912662e+02,2.300730e+03,3.624460e+03,4.148055e+03,4.511990e+03,5.669670e+03
Low,1258.0,4.036896e+03,6.927430e+02,2.191860e+03,3.567610e+03,4.098855e+03,4.462755e+03,5.639020e+03
Close,1258.0,4.063164e+03,6.919554e+02,2.237400e+03,3.583590e+03,4.126245e+03,4.486402e+03,5.667200e+03
Adj Close,1258.0,4.063164e+03,6.919554e+02,2.237400e+03,3.583590e+03,4.126245e+03,4.486402e+03,5.667200e+03
Volume,1258.0,4.350750e+09,1.051686e+09,1.296530e+09,3.724205e+09,4.082780e+09,4.705292e+09,9.976520e+09

In [14]:
sp_500_price_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [15]:
sp_500_price_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

#### 2.4. Read Gold price movement data for the last 5 years

In [16]:
gold_price_data = pd.read_csv("data/Gold-USD-5-Years.csv")
gold_price_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-26,1543.199951,1543.300049,1524.300049,1526.300049,1526.300049,334
1,2019-08-27,1530.500000,1542.099976,1528.500000,1541.000000,1541.000000,166
2,2019-08-28,1538.099976,1538.099976,1537.800049,1537.800049,1537.800049,2756
3,2019-08-29,1537.500000,1549.300049,1519.599976,1526.500000,1526.500000,704
4,2019-08-30,1524.599976,1530.400024,1516.699951,1519.099976,1519.099976,276
...,...,...,...,...,...,...,...
1254,2024-08-19,2508.500000,2508.500000,2487.199951,2501.800049,2501.800049,88
1255,2024-08-20,2503.500000,2527.300049,2500.699951,2511.300049,2511.300049,187
1256,2024-08-21,2511.000000,2515.399902,2503.899902,2508.399902,2508.399902,96
1257,2024-08-22,2504.100098,2504.100098,2471.100098,2478.899902,2478.899902,210
1258,2024-08-23,2521.100098,2554.500000,2519.800049,2506.800049,2506.800049,160460

In [17]:
gold_price_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1259.0,1859.785941,210.696492,1453.599976,1745.099976,1838.400024,1949.799988,2521.100098
High,1259.0,1869.272996,212.043817,1454.900024,1752.900024,1845.599976,1961.650024,2554.500000
Low,1259.0,1850.654249,209.953554,1447.099976,1736.750000,1829.099976,1941.550049,2519.800049
Close,1259.0,1859.952102,210.976701,1452.099976,1746.500000,1839.199951,1952.400024,2511.300049
Adj Close,1259.0,1859.952102,210.976701,1452.099976,1746.500000,1839.199951,1952.400024,2511.300049
Volume,1259.0,4628.741859,25619.614420,0.000000,74.000000,235.000000,640.000000,346362.000000

In [18]:
gold_price_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [19]:
gold_price_data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

## References

[1] Kejriwal, S. (2024, July 5). Bitcoin and stock market correlation: An empirical study. Coin Bureau. https://coinbureau.com/analysis/bitcoin-and-stock-market-correlation/

[2] Yahoo is part of the Yahoo family of brands. (n.d.-d). https://finance.yahoo.com/quote/GC%3DF/history/?period1=1566763869&period2=1724616667

[3] Yahoo is part of the Yahoo family of brands. (n.d.-c). https://finance.yahoo.com/quote/GC%3DF/history/?period1=1566763767&period2=1724616565

[4] Yahoo is part of the Yahoo family of brands. (n.d.-e). https://finance.yahoo.com/quote/%5EIXIC/history/?period1=1566763946&period2=1724616740